/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky; 
    top: 0;
    z-index: 10;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 20px;
}
#logo img{
    margin: 3px 6px;
    height: 70px;
}

/* Navigation Bar: List items Styling */
#navbar ul{
    display: flex;
    font-family: "Audiowide", sans-serif;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 411px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/bg1.jpg) no-repeat center center/cover;
    height: 74%;
    /* height: 500px; */
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1{
    color: white;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Audiowide", sans-serif;
}

/* Services Section */
#services{
    display: flex;
    margin: 44px;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: rgb(224, 207, 207);
}
#services .box img{
    display: block; /*for centering*/
    margin: auto;

    height: 160px;
}
#services .box p{
    font-family: "Audiowide", sans-serif;
}

/* Client Section */
#client-section{
    /* height: 300px; */
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../img/bg.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 100px;
}

/* Contact Section */
#contact{
    position: relative;
    z-index: 5;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../img/contact.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    font-family: "Audiowide", sans-serif;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: "Audiowide", sans-serif;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: "Audiowide", sans-serif;
}
.h-secondary{
    font-size: 1.7rem;
    padding: 12px;
    font-family: "Audiowide", sans-serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}